
<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11 ">
        <ul>
            <li>
                <h1>Título</h1>
                <h2>Año</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum mollitia ea dolores doloribus. Ullam aspernatur excepturi ipsa dolorum porro quisquam sunt qui, distinctio sint adipisci suscipit, error deleniti dolore.
                </p>
            </li>
            <li>
                <h1>Título</h1>
                <h2>Año</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum mollitia ea dolores doloribus. Ullam aspernatur excepturi ipsa dolorum porro quisquam sunt qui, distinctio sint adipisci suscipit, error deleniti dolore.
                </p>
            </li>


        </ul>
      </div>
</div>