<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
         <img src="../../../assets/WhatsApp Image 2020-08-31 at 13.18.52.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
       <div class="col-sm-12 col-md-2 col-lg-8">
           <span>
               <h2>Acerca de mí</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi cumque, molestias, voluptas omnis corrupti architecto culpa debitis repellendus adipisci eos. Labore aliquid ad debitis exercitationem, alias molestias quisquam architecto. </p>
           </span>
       </div>

</div>
